.hourlyFlexContainer {
    display: flex; 
    flex-direction: column;
    overflow: scroll;
    /* margin-left: 25px;
    margin-right: 25px;
    padding-left: 30px;
    padding-right: 30px; */

}

.rowFlexContainer{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    padding-top: 5px;
   
}

