.currentCityCountry{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 15px;
}
.temp {
  text-align: center;
  vertical-align: middle;
  height: 345px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.temp div {
  width: 50%
}

img {
  width: 256px;
  height: 256px;
}
.currentWeatherIcon {
  text-align: right;
  margin-left: 20%;
}

.currentWeather {
  text-align: left;
  font-size: 85px;
}