* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(204, 204, 204);
  background-color: #3a68d4;
  font-family: 'PT Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color:  rgb(204, 204, 204);
}
.main-nav a:hover{

  color: white;
  background-color: rgba(20, 13, 13, 0.1);
  text-decoration: none;
}

.main-nav .selected {
  background-color: rgba(20, 13, 13, 0.1);
}

.app-container {
    width: 80%;
    margin: 2em auto 3em;
    border-radius: 5px;
    box-shadow: 0 3px rgba(0,0,0, .1);
    overflow: hidden;

    background-color: rgba(20, 13, 13, 0.1);
}

.container {
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}

header {
  background-color: #3a68d4;
  margin-bottom: 2em;
  margin-bottom: 0px;
}

.container .currentWeather .col-md-8{
  position: relative;
  top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}  

.currentCityCountry {
  margin-left: 5%;
}

.container .weekForecast{
   padding-top: 15px;
   padding-left: 10px;
   padding-right: 10px;
   width: 100%;
} 

.description {
   height: 200px;
   text-align: center;
   vertical-align: middle;
   font-size: 40px;
}

.secondDiv {
   margin-left: 25px;
   margin-right: 25px;
   padding-left: 30px;
   padding-right: 30px;
   overflow: scroll;
   height: 470px;
}
.weatherNow{
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   border-bottom: 1px solid grey;
   padding-bottom: 10px;  
}
/*--- Design for Weekly Forecast ---*/
.flex-container {
  display: flex;
  justify-content: space-around;
  
}

/* ---- Weekly image ---*/ 
.imgSizeDown img {
  width: 30%;
  height: 30%;
}

/* -- Find Weather form -- */ 

.main-divFindWeather form{
  text-align: center;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 15px;
}
.errorBox{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}
.errorBox p{
  margin: 0px;
  font-size: 20px;
  padding: 5px;
  color: rgb(204, 146, 38);
}

.getWeatherForm input{
  outline: 0px;
  border: 0px;
  background: transparent;
  color: white
} 

form input[type=text] {
  color: black;
  padding: 6px;
  padding-left: 15px;
  border: 1px solid transparent;
  border-right-color: grey;
  float: left;
  width: 40%;
  background: whitesmoke;
}

form.getWeatherForm .cityInput {
  border-radius: 1.5em 0em 0em 1.5em; 
}

form div{
  float: left;
  width: 20%;  
  padding-top: 5px;
  background-color: rgb(255,204,108);
  border: 1px solid transparent;
  border-left: none;
  border-radius: 0em 1.5em 1.5em 0em;
}

form.getWeatherForm::after{
  content: "";
  clear: both;
  display: table;
}

::placeholder {
  color: grey;
}
/*--- Media --*/
@media (min-width: 768px){
  
  header
  .main-nav {
    height: 3.2em;
    padding-top: 15px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 20px 24px 15px 24px; 
  }
  .description {
    padding-top: 50%;
  }
  .flex-container div {
    width: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 55px;
    padding-left: 5px;
    padding-right: 5px;
  }

  
} 

@media (min-width: 0) and (max-width: 768px){
  .app-container {
    min-width: 500px;
  }
  .main-nav a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: block;
    text-align: center;
    padding: 15px;
    }  
  .description {
    line-height: 200px;
  } 

  .flex-container {
    flex-wrap: wrap;
    height: 100%;
  }
  .flex-container div {
    width: 125px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    padding-top: 20px;
    
  }
}











